@font-face {
    font-family:"Apple Tea";
    src: url(AppleTea.ttf);
}

@font-face {
    font-family:"Roboto Medium";
    src: url(Roboto-Medium.ttf);
}

@font-face {
    font-family: "Lato Thin";
    src: url(Lato-Thin.ttf);
}

body{
    background-color: #fe621d;
    max-width: 100%;
}

.leftAlignHeader{
    color: white;
    margin-left: 5%;
    margin-top: 2.5%;
    font-size: 200%;
}

.rightAlignHeader{
    color: white;
    margin-top: -2.5%;
    margin-right: 5%;
    font-size: 200%;
    text-align: right;
    font-family: "Lato Thin", sans-serif;
}

.icon{
    color: white;
}

.icon:hover{
    color: red;
    margin: 0;
}

.nameFooter{
    position: absolute;
    bottom: 0; 
    left:0;
}

.subTitle{
    margin-left: 12.5%;
    font-size: 200%;
    color: white;
    font-family: "Lato Thin", sans-serif;
    margin-bottom: 0%;
}

.name{
    font-family: "Apple Tea", sans-serif;
    color: white;
    text-align: left;
    font-size: 400%;
    margin-left: 10%;
    margin-top: -7.5%;
}

