@font-face {
    font-family:"Apple Tea";
    src: url(AppleTea.ttf);
}

@font-face {
    font-family:"Roboto Medium";
    src: url(Roboto-Medium.ttf);
}

@font-face {
    font-family: "Lato Thin";
    src: url(Lato-Thin.ttf);
}

body{
    background-color: #fe621d;
    max-width: 100vw;
}

.leftAlignHeader{
    color: white;
    margin-left: 1vw;
    margin-top: 2.5vh;
    font-size: 150%;
    float: left;
}

.rightAlignHeader{
    color: white;
    margin-right: 1vw;
    font-size: 150%;
    margin-top: 2.5vh;
    float: right;
    font-family: "Lato Thin", sans-serif;
}

.icon{
    color: white;
}

.icon:hover{
    color: red;
}

.nameFooter{
    position: absolute;
    bottom: 0; 
    left:0;
}

.subTitle{
    margin-left: 2.5vw;
    font-size: 3vw;
    color: white;
    font-family: "Lato Thin", sans-serif;
    margin-bottom: -7.5%;
}

.name{
    font-family: "Apple Tea", sans-serif;
    color: white;
    text-align: left;
    font-size: 4vw;
    margin-left: 1vw;
}

